.productCatalogWrapper {
  display: flex;
  padding: 70px;
}

.productCatalogMain {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.sortingWrapper {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 0px;
  padding-right: 35px;
}

@media (max-width: 1280px) {
  .productCatalogWrapper {
    padding: 40px;
    gap: 30px;
  }

  .sortingWrapper {
    padding-right: 0;
  }
}

@media (max-width: 768px) {
  .productCatalogWrapper {
    flex-direction: column;
    padding: 24px;
    gap: 24px;
  }

  .productCatalogMain {
    gap: 16px;
  }

  .sortingWrapper {
    justify-content: flex-start;
  }
}

@media (max-width: 480px) {
  .productCatalogWrapper {
    padding: 16px;
    gap: 16px;
  }
}
