.productCatalogWrapper {
  display: flex;
  padding: 70px;
}

.productCatalogMain {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.sortingWrapper {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 0px;
  padding-right: 35px;
}
