.sorting__form {
  display: flex;
  gap: 20px;
}

.sorting__field {
  padding: 11px 132px 11px 11px;

  color: rgba(0, 0, 0, 1);
  font-family: Oswald;
  font-style: Regular;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;

  border: 1px solid rgba(196, 196, 196, 1);

  transition: border-color 0.2s;
  cursor: pointer;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('@assets/ProductCatalog/arrow.svg');

  background-repeat: no-repeat;
  background-position: right 16px center;
  background-size: 10px;
}

.sorting__field2 {
  padding-right: 44px;
}

.sorting__field:hover {
  border: 1px solid black;
}

@media (max-width: 1280px) {
  .sorting__form {
    gap: 10px;
    flex-wrap: wrap;
  }

  .sorting__field {
    padding: 10px 60px 10px 10px;
    font-size: 13px;
    flex: 1 1 auto;
    min-width: 160px;
    background-position: right 12px center;
    background-size: 9px;
  }

  .sorting__field2 {
    padding-right: 35px;
  }
}

@media (max-width: 480px) {
  .sorting {
    width: 100%;
  }

  .sorting__form {
    flex-direction: column;
    gap: 10px;
  }

  .sorting__field {
    width: 100%;
    padding: 10px 40px 10px 10px;
    font-size: 12px;
  }

  .sorting__field2 {
    padding-right: 36px;
  }
}
